body {
    font-family: 'Gill Sans', serif;
    background-color: rgb(85, 167, 243);
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
} 

h3 {
    background-color: rgb(102, 203, 243);
    padding: 10px;
}

img {
    width: 400px;
    height: auto;
    margin: 20px auto;
    border-radius: 20px;
}

button {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 160px;
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(102, 203, 243);
}

.container {
    background-color: rgb(252, 250, 247);
    text-align: center;
    padding: 20px;
    width: 800px;
    margin: 80px auto;
    border-radius: 20px;
}

.main-div {
    background-color: rgb(150, 245, 245);
    padding: 20px;
    border-radius: 20px;
}

.list-class {
    margin: 0 auto;
    padding: 0;
}

.list-class li { 
    margin-top: 15px;
} 
